stellar-wallets-kit {
  --swk-background: #FCFCFCFF;
  --swk-background-secondary: #F8F8F8FF;
  --swk-foreground-strong: #000000;
  --swk-foreground: #161619FF;
  --swk-foreground-secondary: #2D2D31FF;
  --swk-primary: #3B82F6;
  --swk-primary-foreground: #FFFFFF;

  --swk-transparent: rgba(0,0,0,0);
  --swk-lighter: #FCFCFC;
  --swk-light: #F8F8F8;
  --swk-light-gray: oklch(0.800 0.006 286.033);
  --swk-gray: oklch(0.600 0.006 286.033);

  --swk-text-primary: var(--swk-foreground);
  --swk-text-secondary: var(--swk-foreground-secondary);

  --swk-transition-duration: 200ms;

  --swk-border-radius: 0.8rem;
  --swk-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);

  --swk-modal-title-color: var(--swk-foreground-strong);
  --swk-modal-text-color: var(--swk-foreground-secondary);

  --swk-avatar-background: var(--swk-background);
  --swk-avatar-border: 1px solid var(--swk-background-secondary);
  --swk-avatar-fallback: var(--swk-foreground-strong);

  --swk-wallet-item-background: var(--swk-background);
  --swk-wallet-item-border: var(--swk-transparent);
  --swk-wallet-item-hover-background: var(--swk-background);
  --swk-wallet-item-hover-border: var(--swk-light-gray);
  --swk-wallet-item-active-background: var(--swk-background);
  --swk-wallet-item-active-border: var(--swk-gray);
  --swk-wallet-item-border-radius: var(--swk-border-radius);
  --swk-wallet-item-transition: var(--swk-transition-duration);

  /* --- --- --- --- --- --- --- --- --- --- --- --- */

  --swk-white: oklch(1 0.001 0.001);
  --swk-black: oklch(0 0.001 0.001);
  --swk-gray-400: oklch(0.705 0.015 286.067);
  --swk-gray-500: oklch(0.552 0.016 285.938);
  --swk-gray-600: oklch(0.442 0.017 285.786);
  --swk-gray-700: oklch(0.37 0.013 285.805);
  --swk-gray-800: oklch(0.274 0.006 286.033);
  --swk-gray-900: oklch(0.21 0.006 285.885);
  --swk-gray-950: oklch(0.141 0.005 285.823);

  --swk-background-hover: var(--swk-gray-50);
  --swk-background-active: var(--swk-gray-100);
  --swk-background-inverse: var(--swk-black);
  --swk-background-disabled: var(--swk-gray-100);
  --swk-background-blue: #dbeafe;
  --swk-background-success: oklch(84.1% 0.238 128.85);

  --swk-border: rgba(0, 0, 0, 0.15);
  --swk-border-secondary: var(--swk-light);
  --swk-border-blue: #3b82f6;
  --swk-border-inverse: var(--swk-black);

  --swk-text-emphasis: var(--swk-black);
  --swk-text-tertiary: var(--swk-gray-500);
  --swk-text-disabled: var(--swk-gray-400);
  --swk-text-placeholder: var(--swk-gray-400);
  --swk-text-inverse: var(--swk-lighter);
  --swk-text-blue: #3b82f6;
  --swk-text-red: #ef4444;

  --swk-shadow-border: inset 0 0 0 1px rgba(0, 0, 0, 0.1);

  --swk-focus-ring: rgb(59 130 246);

  --swk-button-shadow:
          0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1), 0 0 0 1px rgb(0 0 0 / 0.05);

  --swk-input-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
